/* All Pages */
body {
  background-image: url("https://media.istockphoto.com/id/1294763851/vector/empty-blank-light-cream-or-beige-coloured-grunge-textured-vector-backgrounds.jpg?s=612x612&w=0&k=20&c=EWS5Pi3yUrPlWxICASa0b1E5oNGDD58twPyLRFTKhco=");
  background-size: cover;
  background-repeat: repeat;
}

.headers {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-header {
  font-size: 100px;
  margin-bottom: -20px;
}

.sub-header {
  font-size: 50px;
}

/* Home Page */
.home-article {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  border: 2px solid black;
  text-align: center;
  margin: 20px;
  margin-left: 50px;
  margin-right: 50px;
  padding: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

.article-header {
  font-size: 30px;
  margin-bottom: 10px;
}

#btn-desc {
  margin-top: 10px;
  margin-bottom: 10px;
}

.recipe-btn {
  margin-top: 10px;
  padding: 10px;
  font-size: 20px;
  border: 2px solid black;
  background-color: transparent;
  text-decoration: none;
}

.recipe-btn:hover {
  background-color: rgba(0, 0, 0, 0.138);
  cursor: pointer;
}

/* Recipe List */
.recipe-title {
  font-size: 30px;
  margin-bottom: 2%;
}

.add-btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#add-recipe {
  background-color: transparent;
  text-decoration: none;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

#add-recipe:hover {
  color: rgb(101, 101, 101);
}

.recipe-list {
  list-style-type: none;
  margin-left: 20%;
  margin-right: 20%;
  border: 10px double black;
  padding: 20px;
}

.recipe-link {
  font-size: 20px;
  text-decoration: none;
  color: black;
  line-height: 40px;
}

.recipe-link:hover {
  color: rgb(101, 101, 101);
}

/* Pop-up Recipe Form */
#recipe-form {
  display: flex;
  flex-direction: column;
}

.popup {
  width: 400px;
  background: white;
  border-radius: 6px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  text-align: center;
  padding: 30px 30px 30px;
  visibility: hidden;
  transition: transform 0.2s, visibility 0.2s;
  color: rgb(0, 94, 0);
}

.open-popup {
  visibility: visible;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
}

/* Individual Recipes */
#recipe-title {
  font-size: 30px;
  margin-bottom: -2%;
}

#recipe-author {
  font-size: 25px;
  margin-bottom: 2%;
}

.recipe-container {
  font-size: 20px;
  margin-left: 20%;
  margin-right: 20%;
  border: 10px double black;
  padding: 2%;
}
